@{
    ViewBag.Title = "Hakkımızda";
}
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading panel-heading-custom">
            <h4>Hakkımızda</h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-md-9">
                            <strong>ADAGAME A.Ş.</strong>
                            <br />
                            <br />
                            AdaGame A.Ş. iş hayatına; 80'li yılların başında serbest piyasa ekonomisine geçilip dış ticaretin serbestleştirilmesi ile birlikte, ülkemizde dönemin ticaret merkezi olan Tahtakale’de başlamıştır. Otuz yılı aşkın geçmişi olan firma şu an uluslararası bir çok markanın Türkiye distribütörlüğünü yapmakta ve çeşitli elektronik gruplarının üretim ve ithalatını gerçekleştirmektedir. Bu ürünlerin dağıtılması, pazarlanması, lojistik ve satış sonrası hizmetinin sağlanması bünyesindeki 300’e yakın personel ile gerçekleştirilmektedir.
                            <br />
                            <br />
                            Geçmişte bir çoğumuzun hayatına damga vuran ürünleri tüketici ile buluşturan AdaGame A.Ş., tecrübesi, piyasadaki saygın konumu, konularında uzmanlaşmış tecrübeli kadrosu ile birlikte, her konuda yenilikleri takip etmeye ve hizmetlerini geliştirmeye devam etmektedir.
                            <br />
                            <br />
                            <strong>ADAGAME OYUN KONSOL VE AKSESUAR TİCARET ANONİM ŞİRKETİ</strong>
                            <br />
                            <br />
                            Dünyanın önde gelen video oyun, konsol ve aksesuar firmalarının Türkiye’deki dağıtım hakkını elinde bulundurmaktadır. Microsoft Xbox, Electronic Arts, Activision Blizzard, Ubisoft, Take-Two Interactive, Konami, Sega, Namco Bandai, Warner Bros Games, Square Enix, Capcom, Codemasters, Razer, Thrustmaster, Speedlink, Roccat distribütörlüğü yapılan başlıca markalardır. İmzalanan anlaşmalar ile bu markaların bütün formatlardaki ürün gamının Türkiye tek distribütörü AdaGame A.Ş.’dir.
                            <br />
                            <br />
                            <strong>ADATECH ELEKTRONİK SANAYİ VE TİCARET ANONİM ŞİRKETİ</strong>
                            <br />
                            <br />
                            Kendi adına tescilli AdaTech® markası altında çeşitli elektronik gruplarının üretimini ve ithalat/ihracatını gerçekleştirmektedir. Dünyadaki teknoloji trendleri doğrultusunda kendini sürekli yenileyen ve en son teknolojik ürünleri tüketiciyle buluşturan Aral A.Ş.; çalışmalarını son dönemde Tablet Bilgisayar, Uydu Sistemleri, Ses ve Görüntü sistemleri, Aydınlatma Sistemleri kategorilerinde yoğunlaştırmaktadır. Kendi adına tescilli AdaTech® markası ile de dijital oyuncak ithalatını sürdürmektedir.
                        </div>
                        <div class="col-md-3">
                            <a href="@Url.Action("Index", "Home")"><img src="~/image/logo.png"></a>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>