@{
    ViewBag.Title = "Alışveriş Klavuzu";
}
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading panel-heading-custom">
            <h4>Alışveriş Klavuzu</h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-md-9">
                            <strong>Siparişim elime ne zaman ulaşır?</strong>
                            <br />
                            <br />
                            Türkiye Genelinde AdaGame.com sitesinden alışveriş yapan kredi kartı sahiplerinin güvenliğini ön planda tutmakta ve siparişinizi verdiğiniz andan itibaren ödeme/fatura bilgilerinin kontrolünü gerçekleştirmektedir. Bu nedenle, siparişinizin tedarik ve teslimat aşamasına gelebilmesi için öncelikle siparişinizin ödeme/fatura bilgilerinin doğruluğundan lütfen emin olunuz. Normal şartlarda AdaGame.com adresinden yaptığınız alışverişler (ön siparişler ve hafta sonu hariç) takip eden 1 iş günü içerisinde anlaşmalı olduğumuz kargo ile adresinize ulaştırılır. Cumartesi ve pazar günleri kargo firmalarının mesaisi bulunmadığından dolayı teslimat yapılamamaktadır. Ödemeleriniz havale ile yaptığınız alışverişlerde, teslimat süresinin başlangıcı siparişi verdiğiniz zaman değil sipariş tutarının havale ile hesaplarımıza girdiği andır. Türkiye Dışı ve Kuzey Kıbrıs Türk Cumhuriyeti K.K.T.C ve yurt dışına satışımız bulunmamaktadır.
                            <br />
                            <br />
                            <strong>Stok Sorunları</strong>
                            <br />
                            <br />
                            Sistemde sadece stokta bulunan ürünler yer almaktadır. Sistem yoğunluğu esnasında doğabilecek stok sorunlarında irtibat telefonlarınızdan veya e-postanızdan mutlaka size ulaşılarak haber verilecektir. Size ulaşabilmemiz için lütfen kişisel bilgilerinizi eksiksiz doldurunuz.
                            <br />
                            <br />
                            <strong>Ödeme</strong>
                            <br />
                            <br />
                            Mağazamızda avantajlı olan ödeme şekli tek çekim kredi kartı ve havale ile ödemedir. Buna ek olarak Banka Havalesi / EFT ile de ödemesi ve ön ödemeli kredi kartları ile de alışveriş yapabilirsiniz. Ödemeleriniz havale ile yaptığınız alışverişlerde, teslimat süresinin başlangıcı siparişi verdiğiniz zaman değil sipariş tutarının havale ile hesaplarımıza girdiği andır.
                            <br />
                            <br />
                            <strong>Alıcı ve Adres Bilgileri</strong>
                            <br />
                            <br />
                            AdaGame.com dan verdiğiniz siparişlerde, kargoyu teslim alacak kişinin ismi doğru yazılmalıdır. Siparişlerinizi, belirlediğiniz alıcı ya da alternatif alıcıların ancak kimlik ibrazı karşılığında teslim alabileceğini unutmayınız. Siparişinizin size en çabuk şekilde ulaşması için lütfen üyelik formundaki adres bilgilerinizi doğru ve mümkün olduğu kadar açık yazınız.
                            <br />
                            <br />
                            <strong>Hatalı / Eksik Siparişler</strong>
                            <br />
                            <br />
                            Sevkiyat sırasında zarar gördüğünü düşündüğünüz paketleri kargo yetkilisinin önünde açıp kontrol ediniz. Eğer üründe herhangi bir zarar varsa kargo firmasına tutanak tutturunuz ve ürünü teslim almayınız. Sipariş edilen ürünler taşıma esnasında olabilecek hasarlara karşı sigortalanarak size gönderilmektedir. Tutanak ile hasarı tespit edilmeyen ürünlerden hiçbir hak talep edilemez. Ürün teslim alındıktan sonra kargo firmasının görevini tam olarak yerine getirdiğini kabul etmiş olduğunuzu unutmayınız.
                            <br />
                            <br />
                            <strong>Kargo Ücretleri</strong>
                            <br />
                            <br />
                            Sitemizdeki alışverişlerinizde sabit kargo ücreti 2.95 TL olarak faturanıza eklenmektedir. Kargonuzu teslim alırken ek bir kargo ücreti ödemezsiniz.
                            <br />
                            <br />
                        </div>
                        <div class="col-md-3">
                            <a href="@Url.Action("Index", "Home")"><img src="~/image/logo.png"></a>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>