@{
    ViewBag.Title = "E-Ticaret";
}
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading panel-heading-custom">
            <h4>E-Ticaret</h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-md-9">
                            <strong>Türkiye'nin Lider Oyun Eğlence Sitesi</strong>
                            <br />
                            <br />
                            2000’ li yılların sonuna doğru sahip olduğu genç nüfusunun da avantajı ile oyun sektöründe en hızlı büyüyen ülkeler arasında yer alan Türkiye, AdaGame’ in katkılarıyla oyun pazarı için gözde bir pazar haline gelmeye başladı. Aynı dönemlerde internet dünyasındaki hızlı gelişmelere paralel olarak oyun sektörü de yeni bir viraja girdi.                             <br />
                            <br />
                            Buradaki trendi önceden gören AdaGame, 2006 yılında ilk adımlarını attığı e-ticaret organizasyonu ile birlikte; bayi satışlarını ve kurumsal müşterilerinin bir kısmını web ağları üzerinden bir araya getirerek pazarın büyümesi için bir fırsata dönüştürdü. Bu inovatif ve genç düşünceyle yola çıkan AdaGame, oyun odaklı bir e-ticaret sitesi kurarak kurumsal ve perakende kullanıcılar için bir yatırımı hayata geçirerek doğrudan oyun severlere avantajlı fiyat ve içeriklerle ürünlerini sunmaya başladı.
                            <br />
                            <br />
                            Sosyal ağların yükseliş trendiyle birlikte; kullanıcılarla etkileşim amacıyla sosyal ağlarla kuvvetlendirilmiş bir e-ticaret modeline ağırlık vermeyi hedefleyen AdaGame, offline mecralarda yakaladığı oyuncu kitlesine ek olarak, online ortamlarda da kullanıcılarına da bu yolla ulaşmayı hedeflemektedir. 2013′ ün oyun pazarı için e-ticaret trendlerini; iyi deneyim, güvenli ve hızlı alışveriş, farklılaştırılmış kullanıcı içeriği olarak belirleyen AdaGame.com, kullanıcılar tarafından daha fazla tercih edilip, bu kullanımı sürekli artırmayı planlamaktadır. Bundan sonraki basamak ise internet kullanıcılarına özel fırsatları sunma yönünde olacaktır.
                            <br />
                            <br />
                            AdaGame.com, Dünya’ da ve Türkiye’ de en çok aranan oyun, konsol, aksesuar, elektronik ile dijital oyuncak kategorisinde herkes için ulaşılabilir olma hedefiyle hizmet vermektedir. 1980’ li yılların başında kurulduğu günden itibaren oyun, dijital oyuncak, konsol ve elektronik tarafında öncülük ederek, bu doğrultuda özellikle kullanıcılarına dağıtım kanalları ve teknik servisi ile internette doğrudan satışa sunan ilk dikey e-ticaret sitesi olmuştur. 2013 yılı itibarı ile on binlerce üyesine yaklaşık 200 kişilik bir ekip ve 20 den fazla marka seçeneği ile hizmet veren AdaGame.com her gün yüzlerce oyun, konsol, aksesuar, elektronik ve dijital oyuncak, bölümlerindeki ürünleri kullanıcıları ile buluşturmaktadır.
                            <br />
                            <br />
                            <strong>Dünya Devi Markalar</strong>
                            <br />
                            <br />
                            AdaGame.com, satışını yaptığı ürünleri oyun ve elektronik temel grupları altında; oyun – konsol – aksesuar – elektronik – dijital oyuncak olmak üzere beş bölümde toplamıştır. Elektronik bölümünde Hometech, Starcom, Asahi markaları ile bilgisayar, uydu sistemleri , ses ve görüntü sistemleri, aydınlatma sistemleri ile ithalat, imalat ve ihracatını sürdürmekte; dijital oyuncak bölümünde Micro Genius markası ile ürünlerini tüketicilere en uygun şekilde sunmaktadır.
                            <br />
                            <br />
                            Oyun; Electronic Arts, Activision/Blizzard, Konami, Ubisoft, Sega, Take 2, Thq, Namco Bandai, Capcom, Codemasters, Microsoft Games Konsol; Microsoft Xbox. Aksesuar; Razer, Thrustmaster, Speedlink, Roccat, Microsoft Xbox Accesories. Elektronik; Hometech, Starcom, Asahi Dijital Oyuncak; Micro Genius
                            <br />
                            <br />
                            <strong>AdaGame.com ile Güvenli Alışveriş</strong>
                            <br />
                            <br />
                            AdaGame.com, verilerin saklanmasında 256 bit şifreleme ile iletilen bilgilerin güvenliğini sağlayan SSL sertifikası kullanmaktadır. AdaGame.com’ da kredi kartı bilgileriniz yalnızca sipariş işlemi gerçekleştirilirken kullanılır ve veri tabanında kayıtlı olarak tutulmaz.
                            <br />
                            <br />
                            AdaGame.com’ dan, ayrıca online alışverişi daha güvenli hale getirmek için havale yöntemi ya da anlaşmalı satış noktalarından temin edebileceğiniz ön ödemeli kartlarla da ödeme gerçekleştirebilirsiniz.
                            <br />
                            <br />
                            <strong>Kalite ve Orijinallik Garantisi</strong>
                            <br />
                            <br />
                            Satılan ürünlerin tamamı orijinalliği ve kalitesi yüksek, bandrollü; depoda paketleme aşamasında ise %100 kalite kontrolü yapılarak sizlere teslim edilmektedir.
                            <br />
                            <br />
                            <strong>İyi Kullanıcı Deneyimi</strong>
                            <br />
                            <br />
                            İyi kullanıcı deneyimini yaşatmayı hizmet anlayışının merkezine koyan AdaGame.com, müşteri hizmetleri, depo ve sevkiyat ekibi, ve üyeleri ile birebir sosyal medya üzerinden kurduğu Facebook, Twitter, Blog kanalları aracılığı ile sürekli ulaşılabilir durumdadır.
                            <br />
                            <br />
                            AdaGame.com’ dan almış olduğunuz bir ürünü herhangi bir sebeple iade etmek isterseniz, 7 gün içinde kolayca hiçbir sebep göstermeden geri gönderebilirsiniz.
                            <br />
                            <br />
                        </div>
                        <div class="col-md-3">
                            <a href="@Url.Action("Index", "Home")"><img src="~/image/logo.png"></a>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>