@{
    ViewBag.Title = "Gizlilik Taahhüdü";
}
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading panel-heading-custom">
            <h4>Gizlilik Taahhüdü</h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-md-9">
                            Kişisel bilgilerinizin korunması ve ödeme süreci içerisindeki işlem güvenliğiniz bizler için büyük önem arz etmektedir. Bunun yanında sizlere daha iyi hizmet verebilmek amacıyla bazı kişisel bilgilerinizin (isim, yaş, ilgi alanlarınız, e-posta vb.) saklanması ve kullanılması gerekmektedir. Aral sunucularında toplanan bu bilgiler, siparişlerin alınması, ürün ve hizmetlerin sunulması, ödemelerin sorunsuz gerçekleştirilmesi, müşteri bilgilerinin güncellenmesi ve üyeliklerin sürdürülmesi ile 3. şahısların teknik, lojistik ve benzeri diğer işlevlerini bizim adımıza yerine getirmelerini sağlamak amacıyla kullanılmaktadır. Aral üyelik formlarından topladığı bilgileri, söz konusu üyenin haberi ya da aksi bir talimatı olmaksızın, üçüncü şahıslarla kesinlikle paylaşmamakta, faaliyet dışı hiçbir nedenle ticari amaçla kullanmamakta ve de satmamaktadır.
                            <br />
                            <br />
                            Müşteri bilgileri, ancak resmi makamlarca usulü dairesinde bu bilgilerin talep edilmesi halinde ve yürürlükteki emredici mevzuat hükümleri gereğince resmi makamlara açıklama yapmak zorunda olduğu durumlarda resmi makamlara açıklanabilecektir.
                            <br />
                            <br />
                            Müşterinin sisteme girdiği tüm bilgilere sadece Müşteri ulaşabilmekte ve bu bilgileri sadece Müşteri değiştirebilmektedir. Bir başkasının bu bilgilere ulaşması ve bunları değiştirmesi mümkün değildir.
                            <br />
                            <br />
                            Ödeme sayfasında istenen kredi kartı bilgileriniz, siteden alışveriş yapan siz değerli müşterilerimizin güvenliğini en üst seviyede tutmak amacıyla hiçbir şekilde sitemizin veya ona hizmet veren şirketlerin sunucularında tutulmamaktadır. Bu şekilde ödemeye yönelik tüm işlemlerin sitemizin arayüzü üzerinden banka ve bilgisayarınız arasında gerçekleşmesi sağlanmaktadır.
                            <br />
                            <br />
                            </div>
                        <div class="col-md-3">
                            <a href="@Url.Action("Index", "Home")"><img src="~/image/logo.png"></a>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>