@{
    ViewBag.Title = "İnsan Kaynaklari";
}
<div class="row" style="padding-top:10px">
    <div class="panel panel-default">
        <div class="panel-heading panel-heading-custom">
            <h4>İnsan Kaynakları</h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-md-9">
                            <strong>Dünya’nın en değerli markalarıyla çalışmak...</strong>
                            <br />
                            <br />
                            Dünya’nın dev oyun markaları ; Electronic Arts, Activision/Blizzard, Konami, Ubisoft, Sega, Take 2, Thq, Namco Bandai, Capcom, Codemasters, Microsoft Games
                            <br />
                            <br />
                            <strong>Dünya’nın en büyük oyun konsolu markası; Microsoft Xbox.</strong>
                            <br />
                            <br />
                            Oyun teknolojilerinin en ileri aksesuar markaları; Razer, Thrustmaster, Speedlink, Roccat, Microsoft Xbox Accesories. Türkiye’nin en hızlı büyüyen elektronik markaları; Adatech, Starcom, Asahi Türkiye’ nin en bilinen dijital oyuncak markası; Micro Genius
                            <br />
                            <br />
                            Türkiye’de, Dünya’nın önde gelen oyun, konsol, oyun aksesuar ve konsol markasının tek yetkili distribütörlüğünü; tüm pazarlama, satış, kanal geliştirme ve satış sonrası servis faaliyetlerini başarıyla yöneten AdaGame, bu anlamda pazarın yönünü belirleyerek bu markaları Türkiye’de temsil etmek, son kullanıcı ile markalar arasındaki iletişim kanalı olmak ve satış sonrası kullanıcı memnuniyetini sağlamaktan gurur duymaktadır.
                            <br />
                            <br />
                            AdaGame, temsil ettiği markaların ve sahip olduğu dinamik, genç, eğlenceli insan kaynağı gücü ile tüm faaliyetlerinde çalışan memnuniyeti ve kurumsal fayda dengesini gözetmekte; çalışanların performans, memnuniyet ve motivasyonlarını arttırmak, çalışma ortamını daha verimli ve huzurlu kılmaya yönelik aksiyonları almaktadır.
                            <br />
                            <br />
                            AdaGame ekibi için uyumlu bir çalışma ortamına ve güçlü bir iç iletişime sahip olarak ortak hedeflere ulaşabilmek temel değerler arasında yer alır.
                            <br />
                            <br />
                            Sürekli kendini yenileyebilen, işimiz ve doğamız gereği oyun oynamayı seven; genç, yeniliklere açık yapısı ile Aral, aynı inovatif kurumsal yapı ile markalarına tutku ile bağlı yaratıcı fikir ve çözümler ortaya koyabilen, dinamik ve enerjik çalışma ortamına uyum sağlayabilecek ekip arkadaşlarını her zaman bünyesinde barındırmak istemektedir. Siz de gerçekten ayrıcalıklı, yaratıcılığın ve performansın ödüllendirildiği bir kariyer planlıyorsanız, sizi aramızda görmek isteriz.
                            <br />
                            <br />
                            <strong>insankaynaklari@adagame.com</strong>
                        </div>
                        <div class="col-md-3">
                            <a href="@Url.Action("Index", "Home")"><img src="~/image/logo.png"></a>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>