@{
    ViewBag.Title = "Kargo Sorgulama";
}
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading panel-heading-custom">
            <h4>Kargo Sorgulama</h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4" style="margin-left:50px;">
                                <div class="input-group custom-search-form">
                                    <input type="text" class="form-control">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default btn-custom" type="button">
                                            <span class="glyphicon glyphicon-search"></span>Kargo Sorgula
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9" style="margin-top:25px;">
                            • Normal şartlar altında, İstanbul içindeki teslimatlar kargoya verildikten sonra 24 saat içinde; İstanbul dışı teslimatlar ise (kargo firmasının bulunduğunuz il ve ilçeye taahhüt ettiği teslim süresine göre değişmekle) 2-3 gün içinde tarafınıza ulaştırılır.
                            <br />
                            <br />
                            • Ürünler kargoya teslim edildikten sonra Aralgame hesabınızda "kargoya teslim edildi" ibaresini görürsünüz.
                            <br />
                            <br />
                            • Her sipariş, faturasıyla birlikte kargoya verilir. Resmi faturanız, siparişinizin yer aldığı kolinin dışında, şeffaf plastik bir cep poşet içinde size ulaştırılır. Herhangi bir nedenden dolayı, faturanız siparişinizle birlikte gelmediyse kargo yetkilisine fatura talebinizi tekrar iletin. Talep ettiğiniz halde size teslim edilmeyen faturalarınız için tutanak hazırlatın ve bu konuda bizi bilgilendirin.
                            <br />
                            <br />
                            • Kargonuz eğer yanlış adrese ya da şubeye gönderilmişse, bize adagame.com/home/destek adresinden bilgi verdiğiniz takdirde kargo firması tarafımızca bilgilendirilir ve yönlendirme işlemleri en kısa sürede yapılır.
                            <br />
                            <br />
                            • Satışa sunduğumuz tüm ürünler, tedarikçi firmadan alınırken ve kargoya teslim edilmek üzere paketlenirken, hasar kontrolünden geçer. Dolayısıyla, hiçbir ürünün hasarlı olarak gönderilme olasılığı yoktur. Aksi bir durumda kargo şubesiyle hemen iletişim kurmanız ve "Hasar Tespit Tutanağı" hazırlamalarını istemeniz gerekir. Eğer kargo şubesi size bu konuda yardımcı olmuyorsa, lütfen en kısa sürede bizi bilgilendirin.
                            <br />
                            <br />
                            </div>
                        <div class="col-md-3">
                            <a href="@Url.Action("Index", "Home")"><img src="~/image/logo.png"></a>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>