@{
    ViewBag.Title = "Kurumsal Satış";
}

<div class="row" style="padding-top: 10px">
    <div class="panel panel-default">
        <div class="panel-heading panel-heading-custom">
            <h4>Kurumsal Satış</h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-md-9">
                            <strong>Türkiye’ nin Lider Oyun ve Elektronik Dağıtıcısı Sizlerle!</strong>
                            <br />
                            <br />
                            Türkiye'nin lider oyun ve elektronik dağıtıcısı AdaGame ’in online alışveriş kanalı AdaGame.com ’ un kurumsal satış bölümüne hoş geldiniz!
                            <br />
                            <br />
                            Artık işinizin tüm oyun, konsol, aksesuar, elektronik ve dijital oyuncak ihtiyaçlarını sadece bir tıklama ile kolayca karşılayabilirsiniz. Burada bilgisayar oyunlarından Xbox oyunlarına, uydu alıcılarından tablet bilgisayara farklı kategorilerde binlerce farklı ürünü tek bir çatı altında bulmanın kolaylığını yaşayacak, onaylanmış yüksek güvenlik standartlarının geçerli olduğu sitemizde; orijinal ve bandrollü her zaman en uygun fiyat ve ödeme koşullarıyla alışveriş yapacaksınız. Kurumsal müşterilerimize özel satış fiyatlarından haberdar olmak, kurumsal satış fiyatlarımızı görebilmek için bizlerle irtibata geçebilirsiniz.
                            <br />
                            <br />
                            Ayrıca doğabilecek diğer işbirlikleri ve marka özelindeki anlaşmalar için de bizlere aşağıdaki mail adresimizden ulaşabilirsiniz.
                            <br />
                            <br />
                            Kurumsal satış temsilcimiz olabilmek için bayi@adagame.com adresine ticari sicil gazetesi örneği, vergi levhası, kimlik fotokopisi (şahıs şirketi ise), imza sirküleri, banka hesap bilgileri ve iletişim bilgilerinizi paylaşmanız yeterli olacaktır.
                        </div>
                        <div class="col-md-3">
                            <a href="@Url.Action("Index", "Home")"><img src="~/image/logo.png"></a>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>