@{
    ViewBag.Title = "Ürün İade Şartları";
}
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading panel-heading-custom">
            <h4>Ürün İade Şartları</h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-md-9">
                            <strong>6502 sayılı Tüketicinin Korunması Hakkında Kanun'unda yer aldığı üzere orjinal ambalajı zarar görmüş, tahrip edilmiş, herhangi bir şekilde kullanımdan dolayı zarar görmüş ürünler ile tek kullanımlık ürünler, kopyalanabilir oyun, yazılım ve programların iadesi kabul edilmemektedir. Bunun dışındaki iade talepleriniz için, sipariş ettiğiniz ürünü teslim aldıktan sonra herhangi bir nedenden dolayı iade etmek istediğinizde izlemeniz gereken yol ve bilmeniz gerekenler şu şekildedir :</strong>
                            <br />
                            <br />
                            Siparişinizin size ulaştığı günü takip eden 14 (gün) gün içerisinde iade talebinizi ve ürünle alakalı probleminizi 'Hesabım' bölümünde yer alan "Ürün İadesi" kısmından ilgili sipariş numarasını seçerek ve açılan alanları doldurarak bize iletmeniz ve ürünü teslimat tarihinden itibaren 14 gün içerisinde AdaGame adresine geri göndermenizi rica ediyoruz. 14 günü aşan bildirimlerde maalesef iade kabul etmiyoruz.
                            <br />
                            <br />
                            İade edeceğiniz ürünü eksiksiz orijinal faturasıyla (aksi halde iadeniz işleme alınmayacaktır), paketi hasar görmemiş, kullanılmamış, kullanım hatası sonucu zarar görmemiş ve ambalajı açılmamış haliyle, sipariş numarası ve AdaGame’ ın doğru adresini içerecek şekilde geri göndermeniz gerekmektedir.
                            <br />
                            <br />
                            Ürünün kutusu, ambalajı, varsa standart aksesuarları bize iade ettiğiniz paketin içinde eksiksiz ve hasarsız bir şekilde bulunmalıdır.
                            <br />
                            <br />
                            İade edeceğiniz ürünü, anlaşmalı şirketimiz MNG Kargo ile AdaGame’in doğru adresini içerecek şekilde geri göndermeniz gerekmektedir. MNG Kargo dışında herhangi başka bir kargo şirketi ile ürün iadesi yapılması halinde kargo ücreti gönderen tarafından karşılanacak, gönderen tarafından kargo ücreti karşılanmadığı ve ürün iadesi karşı ödemeli şekilde MNG Kargo dışında başka bir kargo şirketi aracılığı ile yapıldığı takdirde AdaGame kargo ücretini ürünün iade bedelinden kesme hakkına sahip olacaktır.
                            <br />
                            <br />
                            İadenizi onaylamadan önce ürünle alakalı inceleme "iade birimimiz" tarafından gerçekleştirilmektedir. Sorunlu olduğuna kanaat getirilen ürünler gerekli durumlarda teste edilmekte ve iade onayı buradan gelen karara dayanarak verilmektedir.
                            <br />
                            <br />
                            Bu koşullar çerçevesinde MNG Kargo ile gönderilen tüm iade gönderimlerinin kargo ücreti AdaGame’e aittir. İade etmek istediğiniz ürünün kusurlu olması durumunda, iadeniz onaylanacak ve kredi kartınızdan çekilen tutar hesabınıza yatırılacaktır. Muhasebeleştirme işlemleri ürününüzün kusursuz ve hasarsız olduğu onayı alındıktan takibi 7 – 10 iş günü içerisinde gerçekleştirilmektedir.
                            <strong>İadeniz onaylandıktan sonra</strong>
                            <br />
                            <br />
                            İadeniz onaylanmasının ardından size iadeniz ile ilgili durum bilgisini mail ile bildirilmektedir ve ürün bedelinizin geri ödemesi yapılmaktadır. Kredi kartınıza yapılan geri iadenin ekstrenize yansıması, bankanızın süreç ve uygulamalarına bağlı olarak ortalama iki - üç hafta sürebilmektedir. Bu süreç her bankanın kendine özel uygulaması olup, AdaGame’in bu sürece herhangi bir müdahale hakkı bulunmamaktadır. İade işleminizin kredi kartı ekstrenize yansımasında yaşanan gecikme ile ilgili bankanızdan detaylı bilgi alabilirsiniz.
                            <br />
                            <br />
                            <strong>CAYMA HAKKI DIŞINDAKİ İADE İŞLEMLERİ</strong>
                            <br />
                            <br />
                            Tüketicinin "Sebep Göstermeksizin Cayma Hakkı" sadece bahsi geçen alışveriş gerçekleştikten sonraki 14 gün içerisinde iade talebi bildirilen ürünlerin geri alımı için geçerlidir. 14 günü aşan sürelerde iade kabul edilmemektedir.
                            <br />
                            <br />
                            <strong>Özel Koşullar</strong>
                            <br />
                            <br />
                            Siparişiniz teslim edildiğinde, kargo yetkilisi eşliğinde paketinizi açmalı ürününüzü kontrol etmelisiniz. Özellikle ezilmiş, yırtılmış, açılmış veya ıslanmış paketlerde bunu yapmanız çok daha önem kazanmaktadır. Beklenmedik bir durumda, sorunlu ürünle karşılaşırsanız paketi teslim almayıp kargo yetkilisine tutanak tutturarak kargo şirketi tarafından tarafımıza iade edilmesini sağlamanız gerekmektedir.
                            <br />
                            <br />
                            Orijinal ambalajı zarar görmüş, tahrip edilmiş, herhangi bir şekilde kullanımdan dolayı zarar görmüş ürünlerin iadesi kabul edilmemektedir. Müşteri, ürünü teslim aldığı andaki durumu ile geri vermekle ve kullanımdan kaynaklanan ticari kaybı ödemekle yükümlüdür.
                            <br />
                            <br />
                            Tek kullanımlık ürünler, kopyalanabilir yazılım ve programlar, hızlı bozulan veya son kullanım tarihi geçme ihtimali olan ürünlerin iadesi kabul edilmemektedir.
                            <br />
                            <br />
                            <strong>İade Kapsamı Dışındaki Ürünler</strong>
                            <br />
                            <br />
                            Oyun lansmanı, yılbaşı, sevgililer günü, anneler günü gibi belirli günlere yönelik ALICI'ya özel olarak hazırlanan, satışa sunulan ve/veya ithal edilen ürünlerde, tüketicinin istekleri veya açıkça onun kişisel ihtiyaçları doğrultusunda hazırlanan, niteliği itibariyle geri gönderilmeye elverişli olmayan ve çabuk bozulma tehlikesi olan veya son kullanma tarihi geçme ihtimali olan malların, kampanya ve promosyon ürünlerinde ürünün iadesi alınamamaktadır.
                        </div>
                        <div class="col-md-3">
                            <a href="@Url.Action("Index", "Home")"><img src="~/image/logo.png"></a>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>